*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 22px;
}
#koushik{
	background: #222;
	color: deepskyblue;
	text-align: center;
	text-transform: uppercase;
}
#das{
	background:#222;
	color:tomato;

}
#das h3{
	margin-left: 45%;
	margin-right: 45%;
	width:15%;

}
.div {padding: 50px; background:red;}
.div p {margin: 30px; padding: 0; background: white;}
.confused{
	background: #222;

}
.confused p{
	background:deeppink;
	margin:auto;
	width:65%;
}